streamlit
feedparser
beautifulsoup4
requests
faiss-cpu
openai
langchain
langchain-community
tiktoken
fuzzywuzzy
# tornado==6.4.1
# protobuf==3.20.*
pydub
scipy
moviepy
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
